@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Lexend Mega", sans-serif;
}

/*For Outer Grey box*/
#outer-container {
  margin-top: 10%;
  margin-left: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3b3b3b;
  border-radius: 3.5em;
  width: 15vw;
  height: 35vh;
}

/*For inner black box*/
#inner-container {
  background-color: black;
  color: white;
  height: 100%;
  border-radius: 3.5em;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  justify-content: stretch;
  align-items: center;
}

#main-content,
#upper-date {
  text-align: center;
}

/*For watch icons*/
#watch-icons {
  display: flex;
  justify-content: space-around !important;
  align-self: stretch !important;
  font-size: 1em;
}
